
<p>Name First: {{result.name_first}}</p>
      <p>Name Last: {{result.name_last}}</p>
      <p>Address: {{result.address}}</p>
      <p>Phone: {{result.phone}}</p>
      <p>Email: {{result.email}}</p>
      <!--<p>Child ID: {{result.ChildId}}</p>-->



<a href="/landing">Go to Week View</a>